.ant-otp {
  width: 100% !important;
}
.ant-otp-input-wrapper {
  flex: 1;
}

.create-post-modal .ant-modal-content {
  padding: 0 !important;
}

/* Hide scrollbar for story slider */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
