@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import 'tailwindcss';

@theme {
  --font-family-sans: 'Roboto', sans-serif;
  --color-primary: #3793b6;
  --color-secondary: #b5af3a;
  --color-blue-light: #0064d1;
  --color-gray-light: #808080;
  --color-mention: #c2d6f7;
  --text-base: 15px;
  --text-h1: 2rem;
  --text-h2: 1.5rem;
  --text-h3: 1.25rem;
  --text-h4: 1rem;
  --text-h5: 0.875rem;
  --text-h6: 0.75rem;
}
